.profile__about {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	width: fit-content;
	max-width: calc(100% - 51px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.profile__about {
		order: 1;
		margin: 0 auto;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}
}
