@import "__logo/header__logo.css";
@import "__link/header__link.css";
@import "__email/header__email.css";
@import "__menu/header__menu.css";
@import "__button/header__button.css";

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
	.header {
		margin-top: 28px;
		width: 100%;
		max-width: 100vw;
		position: relative;
		align-self: center;
	}
}
