.profile__redact {
	margin-top: 18px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 120px;
	max-width: calc(100% - 150px);
}

@media screen and (max-width: 767px) {
	.profile__redact {
		flex-direction: row;
		height: auto;
		min-width: 88vw;
		align-items: center;
		margin-top: 14px;
		margin-bottom: 36px;
	}
}
