@import "__avatar/profile__avatar.css";
@import "__about/profile__about.css";
@import "__add-button/profile__add-button.css";
@import "__edit-button/profile__edit-button.css";
@import "__info/profile__info.css";
@import "__name/profile__name.css";
@import "__avatar-button/profile__avatat-button.css";
@import "__redact/profile__redact.css";

.profile {
	display: flex;
	color: white;
	justify-content: space-between;
}

@media screen and (max-width: 767px) {
	.profile {
		align-items: center;
		flex-direction: column;
	}
}
