.aboutProject{
	margin-top: 110px;
	padding-left: 70px;
	padding-right: 70px;
}

.aboutProject__header{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
	text-align: left;
	color: #000000;
	padding-bottom: 23px;
	border-bottom: 1px solid #000000;
}

.aboutProject__info{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 110px;
}

.aboutProject__stage{
	text-align: left;
	width: 47%;
}

.aboutProject__time{
	text-align: left;
	width: 47%;
}

.aboutProject__infoHead{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.04em;	
	color: #000000;
}

.aboutProject__infoText{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.aboutProject__progressBar{
	display: flex;
	width: 100%;	

}

.aboutProject__back{
	display: flex;
	flex-direction: column;
	width: 20%;	
}

.aboutProject__front{
	display: flex;
	flex-direction: column;
	width: 80%;
}

.aboutProject__span{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height, or 121% */
	color: #A0A0A0;
	text-align: center;
	margin-top: 14px;	

}

.aboutProject__oneWeak{
	margin: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;	
	color: #000000;
	padding: 9px 14px;
	background-color: #2BE080;
}

.aboutProject__fourWeak{
	margin: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;	
	color: #000000;
	padding: 9px 14px;
	background-color: #F2F2F2;;
}

@media screen and (max-width:769px) {
   .aboutProject{
      padding-left: 50px;
	   padding-right: 50px;
   }

   .aboutProject__progressBar{
      margin-bottom: 90px;
   }
}

@media screen and (max-width:426px) {
   .aboutProject{
      padding-right: 18px;
      padding-left: 18px;
      margin-top: 70px;
   }
   .aboutProject__info{
      flex-direction: column;
      margin-bottom: 60px;
   }
   .aboutProject__stage{
      width: 100%;
   }
   .aboutProject__time{
      width: 100%;
   }
   .aboutProject__infoHead{
      font-size: 18px;
      line-height: 22px;   
   }
   .aboutProject__infoText{
      font-size: 11px;
      line-height: 16px;
   }
   .aboutProject__back{
      width: 100px;
   }

   .aboutProject__front{
      width: 184px;
   }
   .aboutProject__progressBar{
      margin-bottom: 70px;
   }
}