.register__login-link{
	display: flex;
	margin: auto;
	margin-left: 5px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	text-decoration: none;
	text-align: center;
	
	color: #FFFFFF;
}