@import "__copyright/footer__copyright.css";

.footer {
	margin-top: 66px;
	margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
	.footer {
		margin-top: 48px;
		margin-bottom: 36px;
		margin-left: 19px;
	}
}
