.place__delete {
	position: absolute;
	top: 18px;
	right: 15px;
	background: url(../../../image/delete.svg) center no-repeat;
	width: 19px;
	height: 20px;
	border: none;
	margin: auto 0;
	outline: none;
	display: none;
}

.place__delete:hover {
	cursor: pointer;
	opacity: 0.6;
}
