@import "./__button/login__button.css";
@import "./__form/login__form.css";
@import "./__head/login__head.css";
@import "./__input/login__input.css";


.login{
	display: flex;
	flex-direction: column;
	max-width: 360px;
	margin: auto;
	align-content: center;
}