.portfolio{
	margin-top: 110px;
	padding-left: 70px;
	padding-right: 70px;
	
}

.portfolio__header{	
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	/* identical to box height, or 111% */
	color: #A0A0A0;

	mix-blend-mode: normal;
	margin-bottom: 50px;

}


.portfolio__link{
   text-decoration: none;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E8E8E8;
}

.portfolio__linkName{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 50px;
	/* identical to box height, or 167% */
	margin-bottom: 19px;
	margin-top: 20px;
	letter-spacing: -0.04em;
	
	color: #000000;
}

.portfolio__span{
	margin-top: 20px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 60px;
	/* identical to box height, or 200% */
	height: 60px;	
	letter-spacing: -0.04em;
	margin-bottom: 9px;

	
	color: #000000;
}

.portfolio__links{
   margin-bottom: 125px;
}

@media screen and (max-width: 1023px) {
   .portfolio{
      padding-left: 50px;
      padding-right: 50px;
   }
}


@media screen and (max-width: 767px) {
   .portfolio{
      padding-left: 14px;
      padding-right: 14px;
   }
   .portfolio__linkName{
      font-size: 18px;
      line-height: 28px;
   }
   .portfolio__span{
      font-size: 18px;
      line-height: 28px;
   }  
   .portfolio__links{
      margin-bottom: 70px;
   }
}