.techs{
	padding-top: 140px;
	background-color: #F5F5F5;
	padding-left: 70px;
	padding-right: 70px;
}

.techs__header{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
	text-align: left;
	color: #000000;
	padding-bottom: 23px;
	border-bottom: 1px solid #000000;
}

.techs__main{
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	align-items: center;
}

.techs__mainHead{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 58px;
	/* identical to box height, or 116% */
	text-align: center;
	letter-spacing: -0.04em;
	color: #000000;
	margin-bottom: 26px;
}

.techs__mainInfo{
	width: 460px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* or 143% */
	text-align: center;
	letter-spacing: -0.04em;
	color: #000000;
	margin-bottom: 100px;

}

.techs__components{
	display: flex;
	padding-bottom: 100px;
}

.techs__component{
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 60px;
	background-color: #E8E8E8;
	border-radius: 10px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	
	text-align: center;
	letter-spacing: -0.04em;

	color: #000000;
}

@media screen and (max-width:1023px) {
   .techs{
      padding-left: 50px;
      padding-right: 50px;
   }

   .techs__main{
      margin-top: 80px;
   }
   .techs__mainHead{
      margin-bottom: 22px;
   }

}

@media screen and (max-width: 767px) {
   .techs{
      padding-top: 70px;
      padding-right: 18px;
      padding-left: 18px;
   }

   .techs__main{
      margin-top: 60px;
   }

   .techs__mainInfo{
      width: 292px;
   }

   .techs__components{
      display: grid;
      grid-template-columns: 84px 84px;
      gap: 10px;
   }
}