.header{
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
	width: calc(100% - 140px);
	position: absolute;
	height: 74px;
	align-items: center;
}

.header__logo{
	width: 38px;
	height: 38px;
}


.header__reg{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;	/* identical to box height, or 133% */

	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	margin-right: 30px;
}

.header__auth{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	/* identical to box height, or 133% */
	text-align: center;
	color: #000000;
	text-decoration: none;
	padding: 8px 20px;
	background-color:#2BE080;
	border-radius: 3px;
}

.header__menu{
	display: flex;
	justify-content: space-between;
	width: 57.6%;
	align-items: center;
}

.header__close{
	display: none;
}

.header__overlay{
	width: 100vw;
	height: 100vh;
	opacity: 0;
	display: none;
}

.header__overlay_active{
	display: block;
}

.header__linkMain{
	display: none;
}

.header__accaunt{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	padding: 8px 20px;
	background-color: #F9F9F9;
	border-radius: 20px;
	text-decoration: none;
	transition: all 1s ease 0s;
}

.header__accaunt:hover{
	transform: scale(1.1,1.1);
}


.header__burger{
	display: none;
}

@media screen and (max-width:769px) {	
   .header{
      width: calc(100% - 100px);
      padding-right: 50px;
      padding-left: 50px;
		flex-direction: row-reverse;
   }

	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		
	}

	.header__menu{
		z-index: 999;
		position: fixed;
		top: 0;
		left: 100%;
		width: 70%;
		height: 100%;
		background-color: white;
		flex-direction: column;
		transition: all 1s ease 0s;
	}

	.header__menu_active{
		left: 30%;
	}

	.header__close{
		display: block;
		position: absolute;		
		top: 22px;
		right: 22px;
	}

	.header__burger span{
		position: absolute;
		background-color: #000000;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}

	.header__burger::before,
	.header__burger::after{
		content: '';
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header__burger::before{
		top: 0;
	}
	.header__burger::after{
		bottom: 0;
	}

	.header__accaunt{
		margin-bottom: 90px;
	}

}

@media screen and (max-width:426px) {
	.header__menu{
		width: 100%;
	}
	.header__menu_active{
		left: 0%;
	}
   .header{
      width: calc(100% - 28px);
      padding-right: 14px;
      padding-left: 14px;
   }
}