.profile__edit-button {
	background-image: url(../../../image/edit-button.svg);
	width: 24px;
	height: 24px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	margin: 0;
	margin-top: 19px;
	outline: none;
}

.profile__edit-button:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.profile__edit-button {
		margin-top: 0;
		width: 18px;
		height: 18px;
	}
}
