.searchForm{
	margin-bottom: 80px;
	border-bottom: solid 1px #E8E8E8;
}

.searchForm__form{
	margin-top: 70px;
	margin-bottom: 70px;
	background: #FDFDFD;
	/* FDFDFD */
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
	border-radius: 9px;
	height: 72px;
	display: flex;
	align-items: center;
}
.searchForm__form_err{
	border: 1px solid #EE3465 ;
}

.searchForm__textarea{
   display: flex;
	align-items: center;
	height: 80%;
   width: calc(100% - 256px);
}

.searchForm__img{
	width: 22px;
	height: 22px;
	margin-left: 25px;
	margin-right: 15px;
}

.searchForm__input{
	background: #FDFDFD;
	height: 80%;
	border: none;
	width: calc(100% - 146px);
}



.searchForm__input:focus{
	border: 3px solid #2BE080;
}


.searchForm__searchButton{
	margin-left: 30px;
	border: none;
	background-position: center;
	background-image: url('../../../images/searchicon.svg');
	background-repeat: no-repeat;
	background-color: #2BE080;
	border-radius: 48px;
	width: 36px;
	height: 34px;
	margin-right: 19px;
	transition: all 1s ease 0s;
}

.searchForm__error {
	display: none;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: left;

	color: #EE3465;
}

.searchForm__error_active{
	display: block;
}


.searchForm__searchButton:hover{
	cursor: pointer;
	transform: scale(1.1,1.1);
}

.searchForm__searchButton:active{
	cursor: pointer;
	transform: scale(.9,.9);
}
.searchForm__line{
   margin-right: 0;
	height: 40px;
	width: 226px;
   align-items: center;
	padding-left: 29px;
   display: flex;
   background-color: white;
   border-left: 1px solid #CBCBCB ;
}

.searchForm__dopButton{
	background-color: #EBEBEB;
	border: none;
	height: 20px;
	width: 36px;
	border-radius: 20px;
	background-position: 10% 50%;
	background-image: url('../../../images/dopButton.svg');
	background-repeat: no-repeat;
	transition: .3s linear;
}


.searchForm__dopButton:hover{
	background-color: #cac9c9;
	cursor: pointer;
}

.searchForm__dopButton_active{
	background-position: 90% 50%;
}

.searchForm__span{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height, or 138% */
	color: #000000;
	margin-left: 14px;
	margin-right: 30px;
}

@media screen and (max-width:767px) {
   .searchForm__form{
      flex-direction: column;
      box-shadow: none;
      border-radius: 0;
      height: auto;
      margin-bottom: 45px;
   }
	.searchForm__form_err {
		width: 100%;
		margin-bottom: 45px;
		border: none;
	}

	.searchForm__textarea_err{
		border: 1px solid #EE3465 ;
	}


   .searchForm__textarea{
      box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
	   border-radius: 9px;
	   height: 72px;
      width: 100%;
      align-items: center;
		justify-content: space-between;
      margin-bottom: 5px;
      padding: 0 19px;
   }


   .searchForm__img{
      display: none;
   }

   .searchForm__line{   
   border-left: none ;
}
}