.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login__logo{
	width: 38px;
	margin-right: 358px;
	margin-bottom: 40px;
}

.login__header{
	text-align: left;
	width: 396px;
	margin-bottom: 40px;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   /* identical to box height */


   color: #000000;
}

.login__form{
	display: flex;
	flex-direction: column;
}

.login__span{
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 10px;

	color: #A0A0A0;
}

.login__input{
	height: 45px;
	width: 396px;
	border: none;
	background-color: #F9F9F9;
	border-radius: 8px;

}

.login__button{
	padding: 13px 176px;
	border: none;
	margin-top: 160px;
	background-color: #2BE080;
	border-radius: 3px;

	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
	transition: all 1s ease 0s;
}




.login__button:hover{
	cursor: pointer;
	transform: scale(1.1,1.1);
}

.login__button:active{
	cursor: pointer;
	transform: scale(.9,.9);
}

.login__dop{
	display: flex;
	align-items: center;
}

.login__text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	color: #A0A0A0;
	margin-right: 6px;
}

.login__link{
	text-decoration: none;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	color: #2BE080;
}

.login__error{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 20px;
	color: #EE3465;
}

@media screen and (max-width:426px) {
   .login__logo{
      margin: auto;
      margin-top: 56px;
   }
   .login__header{
      width: auto;
   }
   .login__input{
      margin: auto;
      width: 260px;
   }
   .login__button{
      padding: 15px 112px;
   }
}