.place__counter_button {
	background: url(../../../../image/like.svg) center no-repeat;
	width: 21px;
	height: 19px;
	background-color: white;
	border: none;
	margin: auto 0;
	outline: none;	
	margin-bottom: 3px;
}

.place__counter_button:hover {
	cursor: pointer;
	opacity: 0.6;
}
