.popup__close-image {
	height: 41px;
	width: 41px;
	position: absolute;
	left: 100%;
	bottom: 100%;
	background-image: url(../../../image/close-icon.svg);
	transform: rotate(45deg);
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	box-sizing: border-box;
	outline: none;
}

.popup__close-image:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.popup__close-image {
		width: 30px;
		height: 30px;
		left: 100%;
		bottom: 100%;
	}
}
