@import "./__button/register__button.css";
@import "./__form/register__form.css";
@import "./__head/register__head.css";
@import "./__input/register__input.css";
@import "./__login-link/register__login-link.css";
@import "./__signin/register__signin.css";

.register{
	display: flex;
	flex-direction: column;
	max-width: 360px;
	margin: auto;
	align-content: center;
}

