.login__input{
	width: 100%;
	padding: 0;
	background-color: black;	
	border: none;
	border-bottom: 2px solid #CCCCCC;
	height: 27px;
	margin-bottom: 30px;

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

color: #FFFFFF;
}

.login__input:last-of-type{
	margin-bottom: 216px;
}